## This is Alcohol Consumption in Russia (1998-2016) Dataset. 
---
 It contains values of consumption for wine, beer, vodka, brandy and champagne.
  * "year" - year (1998-2016)
  * "region" - name of a federal subject of Russia. It could be oblast, republic, krai, autonomous okrug, federal city and a single autonomous oblast
  * "wine" - sale of wine in litres by year per capita
  * "beer" - sale of beer in litres by year per capita
  * "vodka" - sale of vodka in litres by year per capita
  * "champagne" - sale of champagne in litres by year per capita
  * "brandy" - sale of brandy in litres by year per capita

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
consumo = pd.read_csv("https://raw.githubusercontent.com/juliaribeiro/gdc-data-exploring/main/russia_alcohol.csv")

In [ ]:
consumo

      year                          region  wine  ...  vodka  champagne  brandy
0     1998              Republic of Adygea   1.9  ...    3.4        0.3     0.1
1     1998                      Altai Krai   3.3  ...   11.3        1.1     0.1
2     1998                     Amur Oblast   2.1  ...   17.3        0.7     0.4
3     1998              Arkhangelsk Oblast   4.3  ...   11.7        0.4     0.3
4     1998                Astrakhan Oblast   2.9  ...    9.5        0.8     0.2
...    ...                             ...   ...  ...    ...        ...     ...
1610  2016                Chuvash Republic   5.0  ...    7.7        0.7     0.4
1611  2016       Chukotka Autonomous Okrug   3.9  ...   11.6        1.8     1.1
1612  2016        Sakha (Yakutia) Republic   4.3  ...    8.2        1.8     0.5
1613  2016  Yamalo-Nenets Autonomous Okrug   4.5  ...    8.2        1.7     1.3
1614  2016                Yaroslavl Oblast  10.2  ...    8.9        1.4     1.0

[1615 rows x 7 columns]

In [ ]:
consumo.describe()

              year         wine  ...    champagne       brandy
count  1615.000000  1552.000000  ...  1552.000000  1549.000000
mean   2007.000000     5.628144  ...     1.313177     0.526998
std       5.478922     2.813208  ...     0.797956     0.400201
min    1998.000000     0.100000  ...     0.100000     0.000000
25%    2002.000000     3.575000  ...     0.800000     0.200000
50%    2007.000000     5.400000  ...     1.200000     0.400000
75%    2012.000000     7.377500  ...     1.665000     0.700000
max    2016.000000    18.100000  ...     5.560000     2.300000

[8 rows x 6 columns]

In [ ]:
consumo['beer'].max()

207.3

In [ ]:
consumo.sort_values(by='beer',ascending=False).head(1)

     year            region  wine   beer  vodka  champagne  brandy
695  2006  Zabaykalsky Krai  13.7  207.3   31.7        3.1     1.3

In [ ]:
consumo.sort_values(by='vodka',ascending=False).head(1)

     year            region  wine   beer  vodka  champagne  brandy
525  2004  Zabaykalsky Krai  15.7  190.4   40.6        3.0     1.8

In [ ]:
consumo.sort_values(by='wine',ascending=False).head(1)

     year          region  wine  beer  vodka  champagne  brandy
436  2003  Vologda Oblast  18.1  61.7   24.6        0.4     0.6

In [ ]:
consumo.tail(10)

      year                                 region  ...  champagne  brandy
1605  2016                        Khabarovsk Krai  ...        2.6     0.9
1606  2016                  Republic of Khakassia  ...        1.4     0.5
1607  2016  Khanty–Mansi Autonomous Okrug – Yugra  ...        2.0     1.3
1608  2016                     Chelyabinsk Oblast  ...        1.2     0.6
1609  2016                       Chechen Republic  ...        NaN     NaN
1610  2016                       Chuvash Republic  ...        0.7     0.4
1611  2016              Chukotka Autonomous Okrug  ...        1.8     1.1
1612  2016               Sakha (Yakutia) Republic  ...        1.8     0.5
1613  2016         Yamalo-Nenets Autonomous Okrug  ...        1.7     1.3
1614  2016                       Yaroslavl Oblast  ...        1.4     1.0

[10 rows x 7 columns]

- Nome: Julia Matos
- Matricula: 0050015603
 - O que me chamou atenção é que a litragem de maior consumo é a da cerveja, eu particulamente achava que os russos tinham uma certa preferencia pela vodka. Outra coisa que também chamou minha atenção é que na regiao de Zabaykalsky é como se o consumo fosse mais que uma lata de 350ml por dia.